# Server
HOST=replace_me
PORT=replace_me

# Secrets
APP_KEYS=replace_me
API_TOKEN_SALT=replace_me
ADMIN_JWT_SECRET=replace_me
TRANSFER_TOKEN_SALT=replace_me

# Database
DATABASE_CLIENT=replace_me
DATABASE_HOST=replace_me
DATABASE_PORT=replace_me
DATABASE_NAME=replace_me
DATABASE_USERNAME=replace_me
DATABASE_PASSWORD=replace_me
DATABASE_SSL=replace_me

JWT_SECRET=replace_me
